/* Fichier Style de la page */

body { /* Body */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Haut de la page*/

header { /* Header */
    background-color: #274c77;
    color: #ffffff;
    padding: 0.8em 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px #346194;
}

header h1 { /* Hader h1 */
    font-size: 3em;
    font-weight: normal;
    margin: 0;
}

header img {/* Hader img */
    float: left;
    margin-right: 3em;
    display: flex;
}

/* Milieu de la page*/


main { /* main */
    flex: 1;
    display: flex;
    width: 100%;
    margin: 5em 0;
    box-sizing: border-box;
}


/* Aside */


aside { /* aside */
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

aside a { /* Aside a*/
    margin: 10px 0;
    padding: 40px;
    text-decoration: none;
    color: #000;
    background-color: #e7ecef;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}


/* Contenu */

/* les contenu sont les différents partie avec les quelles les bouttons 
peuvent intéragir */

#gpu:target { /* page cpu */
    display: block;
    color: #ffffff;
    background: linear-gradient(to bottom, #333333, #76B900);
}

#cpu:target {/* page gpu */
    display: block;
    color: #E6E6E6;
    background: linear-gradient(to bottom, #005591, #0071C5);

}

#w3c:target {/* page w3c */
    display: block;
    color: #E6E6E6;
    background: #274c77;
}


section {/* Contenu */
    display: none;
    font-family: Arial, sans-serif;
    padding: 4em 3em;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: left;
    margin-right: auto;
    margin-left: 2em;
}


/* Bas de la page */

footer {/* footer */
    flex-shrink: 0;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #274c77;
    text-align: center;
    box-shadow: 0 4px 20px #346194;
}