body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header{
    background-color: #274c77;
    color: #ffffff;
    padding: 10px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0.8em;
    box-shadow: 0 4px 20px #346194; 
}

header h1{
    font-size: 3em;
    font-weight: normal;
    margin:0;
}
header h2{
    font-size: 1.5em;
    font-weight:bold;
    margin: 0 0 2.5em 0;
    text-align: left;
    color: #cecece;
}

header img{
    float:left;
    margin-right: 3em;
    border-radius: 50%;
    border: #ffffff 5px solid;
    display: flex;
}



/* Partie Centrale */

main {
    flex: 1 0 auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 60vh;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
}

article{
    background-color: #e7ecef;
    color: #0d1927;
    font-family: Arial, sans-serif;
    padding: 4em 3em;
    border-radius: 16px; 
    box-shadow: 0 4px 16px #e7ecef; 
    width: 80%;
    height: 100%;
    max-width: 50em;
    box-sizing: border-box;
    text-align: left;
}

article li{
    font-size: 2em;
}

aside {
  width: 20%;
  padding-left: 1rem;
  margin-left: 10rem;
  float: right;
  font-style: italic;
  font-weight: bold;
  color: #4f4f4f;
}

/* Footer */
footer {
    flex-shrink: 0;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #274c77;
    text-align: left;
    flex-direction: column;
    box-shadow: 0 4px 20px #346194; 
}


footer button{
    background-color: #ffffff00;
    border: #0d1927;
    
}

.contacts{
    align-self: center;
    align-items: center;
    display: flex;
    gap: 16px; 
    border: #a54848 10px;
}

.contactlink img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactlink:hover img {
    transform: scale(1.15);
}
